<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="LogToConsole">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-2level %logger{0} - %msg%n"/>
    </Console>
</Appenders>
<Loggers>
    <Root level="ALL">
        <AppenderRef ref="LogToConsole"/>
    </Root>
</Loggers>
</Configuration>